* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-style: 48px;
    font-weight: 700;
}

h2 {
   font-size: 36px;
   font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
