$main-color: #458FF6;
$title-color: #1F1534;
$second-color: #7D7987;
$bg-color: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
$footer-bg:linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

$screen-xs-min: 320px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
