.illustration {
    margin-top: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    &__image_left{
        margin-right: 135px;
    }

    &__content {
        &__left {
            margin-left: 70px;
        }
        max-width: 380px;
        &__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 56px;
            color: $title-color;
        }
        &__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: $second-color;
        }
        &__btn {
            margin-top: 37px;
        }
    }
}

.second__illustration {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image_right{
        margin-left: 260px;
    }

    &__content_right {
        max-width: 380px;
        &__left {
            // margin-right: 105px;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-left: 20px;
                width: 11px;
            }
            &:hover {
                background-color: #fff;
                color: $main-color;
            }
        }
    }
}
