@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Mulish", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h1 {
  font-style: 48px;
  font-weight: 700; }

h2 {
  font-size: 36px;
  font-weight: 700; }

p {
  font-size: 18px;
  font-weight: 300; }

a {
  text-decoration: none; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.btn {
  width: 200px;
  height: 60px;
  border: 1.4px solid #458FF6;
  background-color: #fff;
  border-radius: 55px;
  color: #458FF6;
  font-size: 18px;
  font-weight: 700; }

.btn:hover {
  color: #fff;
  background-color: #458FF6;
  transition: .5s; }

.hr {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin: 26px 0 31px 0; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px; }
  .nav__logo {
    display: flex;
    align-items: center; }
    .nav__logo__image {
      background-color: #458FF6;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      margin-right: 20px;
      text-align: center;
      align-items: center;
      padding-top: 7px;
      color: #fff;
      font-size: 26px;
      font-weight: 700; }
    .nav__logo__text {
      font-size: 24px;
      font-weight: 700;
      color: #1F1534; }
  .nav__menu {
    list-style: none;
    display: flex; }
    .nav__menu__item {
      margin-left: 40px; }
    .nav__menu__link {
      color: #7D7987;
      font-weight: 400;
      font-size: 18px; }
      .nav__menu__link_active {
        color: #1F1534;
        font-weight: 700; }

.promo {
  margin: 80px 0 95px 0; }
  .promo .container {
    display: flex;
    justify-content: space-between; }
  .promo__content {
    margin-top: 120px;
    width: 445px;
    height: 338px; }
    .promo__content__title {
      margin-top: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #1F1534; }
    .promo__content__text {
      margin-top: 25px;
      font-size: 21px;
      font-weight: 300;
      line-height: 32px;
      color: #7D7987; }
    .promo__content__btn {
      margin-top: 45px;
      background-color: #458FF6;
      color: #fff;
      width: 200px;
      height: 60px;
      border: none;
      cursor: pointer; }
      .promo__content__btn:hover {
        background-color: #ff69b4; }
  .promo__image {
    max-width: 693px;
    max-height: 598px; }

.services {
  background-image: url("../../images/bg_element.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: left, top; }
  .services .container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .services__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 992px; }
  .services__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F1534; }
  .services__description {
    color: #7D7987;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; }
  .services__card {
    max-width: 350px;
    min-height: 354px;
    display: block;
    padding: 38px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px; }
    .services__card__wrapper {
      margin: 0 auto;
      max-width: 1120px;
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 35px; }
    .services__card__image {
      width: 68px;
      height: 95px;
      margin-left: 0;
      margin-bottom: 22px; }
    .services__card__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #1F1534; }
    .services__card__description {
      color: #7D7987;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px; }
  .services__btn {
    margin: 0 auto;
    margin-top: 69px; }

.illustration {
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .illustration__image_left {
    margin-right: 135px; }
  .illustration__content {
    max-width: 380px; }
    .illustration__content__left {
      margin-left: 70px; }
    .illustration__content__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 56px;
      color: #1F1534; }
    .illustration__content__text {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      color: #7D7987; }
    .illustration__content__btn {
      margin-top: 37px; }

.second__illustration {
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .second__illustration__image_right {
    margin-left: 260px; }
  .second__illustration__content_right {
    max-width: 380px; }
    .second__illustration__content_right__btn {
      display: flex;
      align-items: center;
      justify-content: center; }
      .second__illustration__content_right__btn img {
        margin-left: 20px;
        width: 11px; }
      .second__illustration__content_right__btn:hover {
        background-color: #fff;
        color: #458FF6; }

.slider {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  height: 425px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 266px; }
  .slider__title {
    padding-top: 64px; }
  .slider .hr {
    background-color: #fff;
    margin: 25px auto; }
  .slider .slide {
    margin: 60px 218px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider__testimonial {
    max-width: 420px;
    text-align: left; }

.client {
  display: flex;
  align-items: center; }
  .client__avatar {
    margin-right: 40px; }

/*# sourceMappingURL=style.css.map */
